:root {
  --lightyellow: #F3F3B0;
  --canaryyellow: #E4E448;
  --purple: #6c6caa;
  --grey: #525252;
}

#root {
  color: var(--grey);
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.form__container {
  background-color: var(--canaryyellow);
  width: 70vw;
  border-radius: 16px;
}

.form__container__waves {
  display: block;
  border-radius: 16px;
}

.form__container__foreground {
  display: flex;
  padding-top: 60px;
  justify-content: space-evenly;
}

.form__container__welcome {
  display: flex;
  place-items: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1.6rem;
  padding: 1rem;
}

.joke__container__back-button {
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 5%;
  min-width: 100px;
}

.joke__container__back-button__back-icon {
  font-size: 32px;
}

.jokes__overview {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@media screen and (max-width:576px) {
  .form__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form__container,
  .form__container__waves {
    border-radius: 0;
  }

  .form__container__foreground {
    flex-direction: column;
  }

  .form__container__welcome {
    display: block;
    text-align: center;
  }
}
